/* Created with Javadoc-Themer built by Nishant */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url(//db.onlinewebfonts.com/c/1db29588408eadbd4406aae9238555eb?family=Consolas);body {
    background-color: #ffffff;
    color: #141414;
    font-family: 'Roboto';
    font-size: 76%;
    margin: 0;
}

dl.notes > dd, code, #class-description > div.block {
    font-family: 'Roboto';
}

body > div.flex-box > div > main {
    max-width: 1080px;
    min-width: 800px;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 9px 0px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
}

.top-nav {
    background: white;
}

#navbar-top-firstrow > li:child():not(a) {
    background: red;
}

#navbar-top-firstrow > li {
    color: cornflowerblue;
}

.nav-bar-cell1-rev {
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
}

/* A - LINKS */
a:link, a, #navbar-top-firstrow > li > a{
    color: cornflowerblue;
    font-weight: normal;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

a:link:visited, a:visited {
    color: cornflowerblue;
    text-decoration: none;
}
a:link:hover, a:hover, 
#navbar-top-firstrow > li > a:hover, 
body > div.flex-box > div > main > div.header > div > a:hover,
body > div.flex-box > header > nav > div.sub-nav > div:nth-child(1) > ul:nth-child(1) > li > a:hover,
#class-description > div.block > a:hover > code,
body > div.flex-box > div > main > div.inheritance > a:hover,
#class-description > div.type-signature > span.extends-implements > a:hover {
    color: cornflowerblue;
    border-bottom: 1px solid cornflowerblue;
}
a:link:focus, a:focus {
    color: cornflowerblue;
    font-weight: bold;
    text-decoration: none;
}
a:link:active, a:active {
    color: #4c6b87;
    text-decoration: none;
}
a[name] {
    color: #141414;
}
a[name]:hover {
    color: #141414;
    text-decoration: none;
}

/* details navigation links */
body > div.flex-box > header > nav > div.sub-nav > div:nth-child(1) > ul:nth-child(2),
body > div.flex-box > header > nav > div.sub-nav > div:nth-child(1) > ul:nth-child(1) > li:nth-child(2), #navbar-top-firstrow > li:nth-child(7),
#class-description > hr,
body > div.flex-box > div > main > div.inheritance {
    display: none;
}
.sub-nav {
    border-top: 1px solid #dfe3e5;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 9px 0px;
    float: left;
    overflow: hidden;
    width: 100%;
    
}
#search-input {
    background: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #dfe3e5;
    color: #a3a5a7;
    margin-right: 20px;
    /* box-shadow: rgb(0 0 0 / 5%) 0px 6px 9px 0px; */
}
body > div.flex-box > header > nav > div.sub-nav > div.nav-list-search > label {
    display: none;
}
body > div.flex-box > header > nav > div.sub-nav > div:nth-child(1) {
    margin-top: 2px;
}
#reset-button {
    display:none;
}
.sub-nav div {
    clear: left;
    float: left;
    padding: 0 0 5px 6px;
}


.type-signature, pre {
    background: #f5f8fa; 
    padding: 10px;
    border-radius:6px; 
    font-family: 'Consolas', monospace;
}

section#field-summary, section#constructor-summary, section#method-summary, section#nested-class-summary {
    background: white;
    border: none;
    margin-left: -10px;
}

section#field-detail, section#constructor-detail, section#method-detail,
#field-summary > div.caption,
#constructor-summary > div.caption,
#nested-class-summary > div.caption,
#all-packages-table > div.caption > span,
#class > div.caption > span,
#method > div.caption > span {
    display: none;
}

#field-summary > h2, #constructor-summary > h2, #method-summary > h2, #nested-class-summary > h2 {
    font-style: normal;
}

/* Inheritance declarations */
body.class-declaration-page .summary h3,
body.class-declaration-page .details h3,
body.class-declaration-page .summary .inherited-list h2 {
    background: none;
    border: none;
    font-weight: normal;
    font-size: 15px;
    
}

.table-header, .odd-row-color, .odd-row-color .table-header {
    background: #f5f8fa;
    border: none;
}

.summary-table {
    border: none;
    border-radius: 6px;
}

.summary-table div, body > div.flex-box > div > main > dl > dd > div {
    font-family: 'Roboto';
}

code a:link:not(:hover), .summary-table div > code > a:not(:hover) {
    color: #434c5d;
    border-bottom: 1px solid #b4b4b4;
}

main a[href*="://"]::after {
    display: none;
}

div.table-tabs > button.active-table-tab, #related-package-summary > div.caption > span, #class-summary > div.caption > span {
    background: #f5f8fa;
    color: #434c5d;
    font-weight: normal;
    border-radius: 6px;
    padding-top: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 0px;
}
div.table-tabs > button.table-tab {
    background: white;
    color: #434c5d;
    font-weight: normal;
}

.deprecation-block {
    background: #ffe9e9;
    padding: 2px 6px;
    border: none;
    border-radius: 6px;
    font-weight: normal;
    font-family: 'Roboto';
}

#ui-id-1 .ui-state-active {
    background: #f5f8fa;
    border-color: #f5f8fa;
}

#ui-id-1 {
    border-radius: 6px;
    overflow-x: hidden;
    border: none;
}

/* Search results */
ul.ui-autocomplete li {
    background: white;
    color: #434c5d;
    font-family: 'Roboto'
}


